<!DOCTYPE html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>
      NYTimes Technology Org Chart
    </title>
    <style type="text/css">
	<!--
	a:link {text-decoration: none}
	a:visited {text-decoration: none}
	a:active {text-decoration: none}
	a:hover {text-decoration: underline}
	-->
	</style>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['orgchart']});
    </script>
    <script type="text/javascript">
      function drawVisualization() {
        // Create and populate the data table.
        var data = google.visualization.arrayToDataTable([
          ['Name', 'Manager', 'Tooltip'],
          ['NY Times Technology', null, null],
          [{v: '{{ primary_supervisor_id }}', f: '<a href="/orgchart/{{ primary_supervisor_id }}"><font size="+3"><strong>&uarr;</strong></font></a>'}, null, null],
{% if reporting_relationship_list %}
    {% for reporting_relationship in reporting_relationship_list %}
          [
          {
          	v: '{{ reporting_relationship.employee.id }}',
          	f: '<a href="/orgchart/{{ reporting_relationship.employee.id }}">{{ reporting_relationship.employee.full_name }}</a><br/><font color="blue"><i>{{ reporting_relationship.employee.job_title }}</i></font><br />{% if reporting_relationship.employee.contractor %}(c){% endif %}{% if reporting_relationship.employee.part_time_status %}(p){% endif %}'
          },
          '{{ reporting_relationship.supervisor_id }}', null
          ],
    {% endfor %}
{% else %}
          [{v: 'Error', f: '<font color="red"><i>No Emmployees are available.<i></font>'}, null,    null],
{% endif %}
        ]);

      
        // Create and draw the visualization.
        new google.visualization.OrgChart(document.getElementById('visualization')).
            draw(data, {allowHtml: true});
      }
      

      google.setOnLoadCallback(drawVisualization);
    </script>
  </head>
  <body style="font-family: Arial;border: 0 none;">
    <div id="visualization" style="width: 300px; height: 300px;"></div>
  	<div>
  	<em>Menu:</em> Browse <a href="/employees/">Employees List</a> |
  	Go to <a href="/admin/">Admin Tool</a>
  	</div>
    <div align="right">
    <table><tr><td>
    <em>Legend:</em><br />
    <font size="+3"><strong>&uarr;</strong></font> : Up one level<br />
    (p) = Part-Time Employee<br />
    (c) = Contractor / Consultant<br />
    </td></tr></table>
    </div>
    <hr />
    <p align="right">
    <font size="-1">Powered by open source HR Software from <a href="http://www.employeeware.org/">EmployeeWare.org</a></font>
    </p>
  </body>
</html>
​