{% extends "base.html" %}
{% block title %}EmployeeWare: Open Source HR Software{% endblock %}
{% block content %}
<h1>EmployeeWare: Open Source HR Software</h1>

<h2>Use the software</h2>
<ul>
	<li><a href="/employees">Browse List of Employees</a>
		<ul>
			<li>There you can click on any employee to start browsing the org chart.
			</li>
		</ul>
	</li>

	<li><a href="/admin">Administration Interface</a>
		<ul>
			<li>This takes you to the tools to manage the org chart,
			i.e. add/change employees and reporting relationships.
			</li>
		</ul>
	</li>
</ul>
<h2>About this software</h2>
<ul>
	<li>Test drive this software
		<ul>
			<li>To play with, practice and learn how to create and edit an org chart using
			this tool, go to the demonstration site at
			<a href="http://demo.employeeware.org/">demo.employeeware.org/admin</a>
			and login in using the username 'demo' and password 'demo' (without the quotes).
			</li>
		</ul>
	</li>
	<li><a href="https://bitbucket.org/rajiv.pant/employeeware/">EmployeeWare Project: Get this Software</a>
		<ul>
			<li>There you can download this software to run a copy on your own servers.
			</li>
			<li>You can also submit suggestions, feature requests and issues.
			</li>
			<li>If you are a software engineer, designer or product developer, you are
			also welcome to get involved in the project.
			</li>
				<ul>
					<li>This software was built using
					the <a href="http://www.python.org/">Python Programming Language</a>,
					the <a href="https://www.djangoproject.com/">Django Web Application Framework</a> and
					the <a href="https://developers.google.com/chart/">Google Chart Tools APIs 
					in JavaScript & HTML5</a>.
					</li>
					<li>The demo application and project are hosted at
					the <a href="https://bitbucket.org/">Atlassian bitbucket</a> and
					the <a href="http://aws.amazon.com/">Amazon Web Services (AWS)</a>.
					</li>
				</ul>
			</li>
		</ul>
	</li>

</ul>
{% endblock %}