<!DOCTYPE html>

<head>
<title>EmployeeWare: Open Source HR Software</title>
<style type="text/css">
<!--
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: underline}
-->
</style>
</head>
	
<body>

<h1>EmployeeWare: Open Source HR Software</h1>

<ul>
	<li><a href="/employees">Browse List of Employees</a>
		<ul>
			<li>There you can click on any employee to start browsing the org chart.
			</li>
		</ul>
	</li>

	<li><a href="/admin">Administration Interface</a>
		<ul>
			<li>This takes you to the tools to manage the org chart,
			i.e. add/change employees and reporting relationships.
			</li>
			<li>To play with, practice and learn how to create and edit an org chart using
			this tool, go to the demonstration site at
			<a href="http://demo.employeeware.org/">demo.employeeware.org/admin</a>
			and login in using the username 'demo' and password 'demo' (without the quotes).
			<br /><br />
			</li>
		</ul>
	</li>

	<li><a href="https://bitbucket.org/rajiv.pant/employeeware/">EmployeeWare Project: Get this Software</a>
		<ul>
			<li>There you can download this software to run a copy on your own servers.
			</li>
			<li>You can also submit suggestions, feature requests and issues.
			</li>
			<li>If you are a software engineer, designer or product developer, you are
			also welcome to get involved in the project.
			</li>
				<ul>
					<li>This software was built using
					the <a href="http://www.python.org/">Python Programming Language</a>,
					the <a href="https://www.djangoproject.com/">Django Web Application Framework</a> and
					the <a href="https://developers.google.com/chart/">Google Chart Tools APIs 
					in JavaScript & HTML5</a>.
					</li>
				</ul>
			</li>
		</ul>
	</li>

</ul>

<hr />
<p align="right">
<font size="-1">Powered by open source HR Software from <a href="http://www.employeeware.org/">EmployeeWare.org</a></font>
</p>

</body>
</html>
